@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.5rem;
  --font-inter: "Inter", system-ui, -apple-system, sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace;
}

@layer base {
  * {
    @apply border-neutral-200 dark:border-neutral-800;
  }
  
  body {
    @apply bg-white text-neutral-900;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-neutral-950 text-neutral-50;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}